.center input[type=button]
{
  background: none;
  margin: 10px;
  padding: 2em;
  width: 10%;
  border: 3px solid #61892F;
  border-radius: 10em;
  transition: 0.8s;
  color: #eeee;
}

.center input[type=button]:hover
{
  background-color: #86C232;
}