@charset "utf-8";

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
	

.box
{
	width: 300px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #474B4F;
	text-align: center;
	box-shadow: -0px -0px 24px 6px rgba(10,10,10,0.30);
	border-radius: 5px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

.login-text 
{
  color: #474B4F;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  
}

.fa-stack-1x 
{
	color: #222629;
}

#text-bell
{
	color: #6B6E70;
	font-size: xx-large;
}

