.nav 
{
  background-color: #282e33;
  overflow: hidden;

	box-shadow: -0px -0px 12px 6px rgba(10,10,10,0.10);
}
  
.nav a
{
    float: left;
    color: #eeeeee;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 18px;
}


.nav a:hover 
{
  background-color: #eeeeee;
  color: black;
}

.nav a.logout
{
  float: right;
  border: 0;
  margin: 5px;
  text-align: center;
  border: 3px solid #86C232;
  padding: 12px 8px;
  width: 100px;
  outline: none;
  color: #eeeeee;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
  background: none;
  text-decoration: none;

}

.nav a.logout:hover
{
  background: #61892F;
}
  
.nav a.active 
{
  background-color: #86C232;
  color: #eeeeee;
}

.nav a.active:hover
{
  background-color: #61892F;
  color: #eeeeee;
}