*
{
    color: #61892F;
    color: #86C232;
    color: #2ecc71;
    color: #222629;
    color: #282e33;
    color: #434a52;
    color: #474B4F;
    color: #6B6E70;
    color: #9ea1a3;
    color: #eeeeee;
 
}