@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
 

.text-center
{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.box{
	position: absolute;
	left: 20%;
  right: 20%;
  width: 50%;
	border-radius:3px;
	padding: 50px 100px; 
}

.input-container
{
  display: flex;
	position:relative; 
	margin-bottom:30px;
}
.input-container label
{
	position:absolute;
	top:0px;
	left:0px;
	font-size:20px;
	color:#fff;	 
	transition: all 0.5s ease-in-out;
}
.input-container input[type=text]
{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:20px;
  color:#fff;
}
.input-container input[type=text]:focus
{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.input-container input[type=number]
{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:20px;
  color:#fff;
}
.input-container input[type=number]:focus
{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label
{
	top:-12px;
	font-size:15px;
	
}

.save
{
  text-align: center;
  background: none; 
  padding: 10px 20px;
  border: 3px solid red;
  border-radius: 10em;
  transition: 0.8s;
  color: #eeee;
}

.save:hover
{
  background-color: #86C232;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}