/*

    #313131
    #2f3542
    #414141
    #525252
    #e7e6e1
    #eeeeee
 */

body 
{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    background-color: #303030;
    color: #414141;
}


.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3542;
    text-align: center;
    box-shadow: -0px -0px 24px 6px rgba(0,0,0,0.75);
    border-radius: 24px;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #70a1ff;
    padding: 12px 8px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}
.box input[type="text"]:focus,.box input[type="password"]:focus{
width: 280px;
border-color: #2ecc71;
}
.box input[type="text"]:hover,.box input[type="password"]:hover{
    width: 280px;
    border-color: #2b75ff;
    }
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    border: 0;
    background: #2ecc71;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.reg{
    color: white;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    padding: 14px 10px;
    display: block;
    width: 110px;
    text-decoration: none;
}
.reg:hover{
    color: white;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    padding: 14px 10px;
    display: block;
    width: 125px;
    transition: 0.25s;
    background-color: #2ecc71;
}
.box h2{
    color: white;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 20px;
}
.box input[type="file"]{
    border: 0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #70a1ff;
    padding: 12px 8px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}
.box input[type="file"]:focus{
width: 280px;
border-color: #2ecc71;
}

.box input[type="file"]:hover{
    width: 280px;
    border-color: #2b75ff;
}

.copyright
{
    position:fixed;
    bottom: 0px;
    padding: 2px;
    text-align: center;
    margin: 0px;
    width:100%;
    color: #eeeeee;
    background:#414141;
}