body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.nav__links {
    list-style: none;
    display: flex;
  }
.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
.nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: #2f3542;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f3542;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background: none;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
.userinfo{
    padding: 20px; 
    color: white;
}
.lout{
    color: white;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    cursor: pointer;
    outline: none;
    padding: 14px 10px;
    display: block;
    width: 100px;
    text-decoration: none;
    transition: 0.30s;
}
.lout:hover{
    color: white;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    cursor: pointer;
    background-color:  #2ecc71;
    outline: none;
    padding: 14px 10px;
    display: block;
    width: 112px;
    text-decoration: none;
    transition: 0.30s;
}  
.goback{
    border: 0;
    display: block;
    position: absolute;
    left: 0%;
    margin: 10px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 12px 8px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background: none;
    text-decoration: none;
}

.goback:hover
{
  background-color:  #2ecc71;
} 

.welcomeMessage
{
  display: block;
  margin: auto;
  margin-top: 2em;
  font-size: 5rem;
  color: #e7e6e1;
}

.about
{
    margin: 3%;
    color: #e7e6e1;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.about h5
{
    margin: 0px;
    margin-left: 20px;
}

.about p
{
    margin: 0.8em;
    margin-bottom: 0.4em;
    margin-left: 0px;
}


.copyright
{
    position:fixed;
    bottom: 0px;
    padding: 2px;
    text-align: center;
    margin: 0px;
    width:100%;
    color: #eeeeee;
    background:#414141;
}

.bellSettings table, th, td
{
    border: 1px solid #525252;
    border-collapse: collapse;
    margin: 5px;
    padding: 10px;
    color: #eeeeee;
 }

 .bellSettings table
 { 
   margin-left: auto;
   margin-right: auto;
 }
 
.bellSettings td
{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.bellSettings td>input
{
  width: 40px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-align: center;
  background-color: #313131;
  color: #eeeeee;
} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.settings
{
  color: #eeeeee;  
  padding-top: 4rem;
  width: 50%;
  margin: auto;
}

.settings h1 
{
  font-size: 2rem;
  font-weight: 500;
}
 
.bellSettings details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bellSettings details summary::-webkit-details-marker {
  display: none;
}

.bellSettings details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #525252;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

.settings details summary:after {
  content: "+";
  color: #e7e6e1;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
.settings details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
.settings details summary {
  outline: 0;
}
.settings details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.espSettings summary
{
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 500;

  width: 100%;
  position: relative;
  cursor: pointer;
  list-style: none;
}

.espSettings details summary::-webkit-details-marker {
  display: none;
}
 
.settings input[type=submit]
{
	background: #525252;
	border: none;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 26px 10px 26px;
	border-radius: 6px;
	color: #A8BACE; 
  margin-bottom: 35px;
}

.settings input[type=button]:hover
{
  background: #394D61;
} 

.inputFields 
{
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
  display: block;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.multi-button {
  display: flex;
  margin: 10em;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
  color: #e7e6e1;
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: #414141;
  --color-secondary: #525252;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
} 

.templates
{
  color: #eeeeee;  
  margin: auto;
}


.theme-construction {
  --radius: 5px;
  --baseFg: #eeeeee;
  --baseBg: #313131;
  --accentFg: #525252;
  --accentBg: orange;
}

select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  font-size: medium;
  margin: 2em;
  margin-top: 4.5em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}

.selctors
{
  display: flex;
  margin: auto;
}

.selctors>h2
{
  margin-top: 2.7em;
  font-size: 1.7em;
}

.loadTemp
{
  margin: 1em;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 15px 20px;
  width: 100px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
  background: none;
  text-decoration: none;
  display: block;
  margin: auto;
}

.loadTemp:hover
{

  background-color: #2ecc71;
}

.settings
{
  color: #eeeeee;  
  padding-top: 4rem;
  width: 50%;
  margin: auto;
}

.settings h1 
{
  font-size: 2rem;
  font-weight: 500;
}
 
.setupTemplates details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.setupTemplates details summary::-webkit-details-marker {
  display: none;
}

.setupTemplates details summary {
  width: 100%;
  padding: 0.5rem 0; 
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

.setupTemplates details summary:after {
  content: "+";
  color: #e7e6e1;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
 
.setupTemplates details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
.setupTemplates details summary {
  outline: 0;
}
.setupTemplates details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.setupTemplates details
{
  border-bottom: 1px solid #525252; 
  margin-top: 1em;
}


.setupTemplates table, th, td
{
    border: 1px solid #525252;
    border-collapse: collapse;
    margin: 5px;
    padding: 10px;
    color: #eeeeee;
 }

 .setupTemplates table
 { 
   margin-left: auto;
   margin-right: auto;
 }
 
.setupTemplates td
{
  text-align: center;
  padding: 0px;
  margin: 0px;
}


.setupTemplates td>input
{
  width: 40px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-align: center;
  background-color: #313131;
  color: #eeeeee;
}  